/* Window Config */

.wrapper {
    display: flex;
    align-items: stretch;
}

#container{
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 30vh;
    max-width: 50vw;
    min-height: 100vh;
}


/* Profile Picture */
#profile {
	border-radius: 50%;
    max-height: 25vh;
	max-width: 25vw;
    }

.icon {
    height: 6vh;
}

/* Formatting*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #2d333a;
}

/* Hover functionality */

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* Sidebar config */

#sidebar {
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul span {
    padding: 10px;
    font-size: 24px;
}

#sidebar ul li {
    justify-content: flex-end;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fafafa;
}

#sidebar ul li a:hover span {
    color: black;
    text-shadow: none;
}

/* Keeps Dropdown Menu white when hovering dropdown items */
#sidebar ul li.active > a, a[aria-expanded="true"] {
    background: #fafafa;
    color: black;
}
#sidebar ul li.active span {
    color: black;
}

/* PDF Download link not visible when pdf display visible */

#pdf_download{
    display:none;
}

@media (max-width: 992px) {
    #pdf_viewer{
        display: none;
    }
    #pdf_download{
        display: block;
    }
}

@media (max-width: 600px){
    /* Sidebar becomes top bar */
    .wrapper{
        flex-direction: column;
        flex-wrap: wrap;
    }

    #container {
        /* min-height: 50vh; */
        /* flex: 2 100vw; */
    }

    #sidebar {
        min-width: 100vw;
        max-width: 100vw;
        padding: 0px;
        min-height: 25vh;
        /* max-height: 25%; */
        /* flex: 1 100vw; */
    }

    #sidebar ul li {
        margin: 1px 0px
    }
}