@media (max-width: 600px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    main.container {
        order: 1;
        flex-direction: column-reverse;
    }
    main > div {
        padding: 2em 0em;
    }
    img{
        width: 200px;
        height: 200px;
    }
    header-component, footer-component {
        order: 12;
    }
    #homeName{
        display: none;
    }
}