<div id="about">
    <h1>About</h1>
    <hr><br>
    <p>As a graduate student in Civic Analytics and the Senior Manager of Online Giving & Donor Data at United Way of Metro Chicago, my unique perspective and diverse experience make me a valuable asset to any organization seeking to create positive change in our community. I am passionate about using data-driven decision-making and creativity to provide exceptional customer experiences that drive engagement and support our mission. My commitment to social impact and community service drives me to continuously seek innovative ways to achieve our goals.</p>
</div>