$font-stack: Helvetica, sans-serif;
@mixin buttons(){
    background-color: darkgreen;
    color: white;
}

@mixin centerChildren() {
    display: flex;
    justify-content: center;
}


body{
    font: 100% $font-stack;
    margin: 0;

    div {
        padding: 1em 2em;
    }
}

nav {
    @include buttons();
    @include centerChildren();

    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: white;
        text-align: center;
    }
}