:root{
  --theme-white: #F5F6F0;
  --theme-grey: #C6CDC1;
  --theme-black: #44403f;
  --theme-green: #63A15F;
}

.background {
  background-color: var(--theme-green);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

.App-header {
  background-color: VARS(--theme-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}